
h3{
    font-size: 3rem;
    
}
.parent{
    width: 500px;
    height:500px;
    background: red
}

.child{
    width: 100%;
    height: 50px;
    background: blue
} */
/* .parent {
  width: 50vw;
  height: 50vh;
  background-color: red;
}
.child {
  width: 100vw;
  height: 100vh;
  background: blue;
} */

/* #id1{
    color: #fff;
    background: rgba(0, 0, 0, 0.603)
}

#id2{
    color: hsl(171, 33%, 57%);
    background: lightcyan;
}

body{
    background-color:crimson;
} */
